
{{!-- Called By the log out button inside the >navbar --}}
<div class="modal fade" id="logout-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">

            <div class="modal-header ">
                <h2 class="modal-title">Logout</h2> 
                <button title="click to stay logged-in" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
                </button>
            </div>

            <div class="modal-body">              
                <h5>Are you sure you would like to log out?</h5>
                <small class="text-muted">Thanks for shopping on our page.</small>
            </div>

            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Click to stay logged-in"><i class="fas fa-window-close"> Cancel</i></button>
                <a title="Click to logout" class="btn btn-primary" href="/logout"> Logout <i class="fas fa-sign-out-alt"> </i></a>
            </div>

        </div>
    </div>
</div>