<form>
<!-- Account creation page JS in form.js / -->
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="create-email">Email</label>
      <input type="email" class="form-control" id="create-email" placeholder="Email">
    </div>

    <div class="form-group col-md-12">
      <label for="create-username">Username</label>
      <input type="text" class="form-control" id="create-username" placeholder="Username" autocomplete="username">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="create-password">Password</label>
      <input type="password" class="form-control" id="create-password" placeholder="Password" autocomplete="new-password">
      <small id="create-password-help" class="text-muted">REQUIREMENTS FOR PASSWORD HERE</small>
    </div>
    <div class="form-group col-md-6 ">
      <label for="create-password-verify">Verify Password</label>
      <input type="password" class="form-control" id="create-password-verify" placeholder="Verify password" autocomplete="new-password">
      <small id="create-password-verify-help" class="text-muted">REQUIREMENTS FOR PASSWORD HERE</small>
    </div>
  </div>

  <button id="create-new-account" type="submit" class="btn btn-primary">Create Account<i class="ml-3 fas fa-user-plus"></i></button>
  
</form> 