<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- CDNs for fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
        <!-- our css -->
        <link rel="stylesheet" href="/css/style.css" type="text/css"/>
        <!-- CDNs for jQuery, Popper.js and Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- our javascript -->
        <script src="/js/app.js"></script>
        <script src="/js/index.js"></script>
        <!--Title to display across all pages -->
        <title>eMarketplace</title>
    </head>
    <body class="bg-secondary my-4 my-lg-5 py-5 py-lg-4">
        <!-- Sticky top navbar to show on all pages displayed from this layout -->
        {{>navbar}}
        
        <div class="container-fluid">

            {{{ body }}}

            <nav class="navbar fixed-bottom navbar-light bg-dark p-0 justify-content-center">
                <footer class="p-0">
                    <ul class="nav">
                            <li class="nav-item p-0">
                                <span class="nav-link navbar-text">2019&#169;</span>
                            </li>
                            <li class="nav-item p-0">
                                <a class="nav-link" title="Visit Mike Gullo's Github Portfolio" href="https://mike14747.github.io/">Mike Gullo</a>
                            </li>
                            <li class="nav-item p-0">
                                <a class="nav-link" title="Visit Vince Shury's Github Portfolio" href="https://vincent440.github.io/">Vince Shury</a>
                            </li>
                            <li class="nav-item p-0">
                                <a class="nav-link" title="Visit Michelle's Github Profile" href="https://github.com/letscook1"> Michelle</a>
                            </li>
                        </ul>
                </footer>
            </nav>

        </div>
        <!--Log out modal-->
        {{>logout_modal}}

    </body>
</html>