<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CDNs for fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
    <!-- our css -->
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <!-- CDNs for jQuery, Popper.js and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- our javascript -->
    <script src="/js/app.js"></script>
    <!--Title to display across all pages -->
    <title>WestSide Marketplace</title>

</head>

<body class="bg-info mt-4 pt-2">

    <nav id="mainTopNavbar" class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">WestSide Marketplace</a>

        <div class="collapse navbar-collapse" id="mainNavBar">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Account</a>
                </li>
            </ul>

        </div>

        <div class="my-2 my-lg-0">
            <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#login-create-modal">Login | Sign Up</button>
        </div>

    </nav>

    <div class="container-fluid bg-white border rounded my-1">

        {{{ body }}}

        <!--Login Modal -->
        <div class="modal fade" id="login-create-modal" tabindex="-1" role="dialog" aria-labelledby="login-create-modal-title" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content p-1">

                    <div class="modal-header">
                        <h5 class="modal-title" id="login-create-modal-title">Welcome! <span class="text-success text-left"> Log-in </span> &nbsp; <span class="float-right text-primary"> Create Account </span></h5> 
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body p-4">
                        
                        <form>

                            <div class="form-group">
                                <label for="username-login">Username</label>
                                <input type="text" class="form-control" id="username-login" aria-describedby="username login" placeholder="Enter Username">
                                <small id="username-help" class="form-text text-muted">We'll never share your information with anyone else.</small>
                            </div>
                            
                            <div class="form-group">
                                <label for="user-password">Password</label>
                                <input type="password" class="form-control" id="user-password" placeholder="Password">
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="remember-check">
                                <label class="form-check-label" for="remember-check">Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Log-in</button>

                        </form>

                       
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                    
                </div>
            </div>
        </div>

        <nav class="navbar fixed-bottom navbar-light bg-light border p-2 d-flex align-items-center justify-content-center">
            <footer class="navbar-brand ">
                <span class="small">Copyright &#169; 2019 project2</span>
            </footer>
        </nav>

    </div>

</body>

</html>