{{!-- Page to Create / edit & update account with option to view order history later if applicable  --}}
<div class="row d-flex justify-content-center">

    <div class="col-sm-10 col-md-9 shadow-lg p-4 p-lg-5 my-4 my-lg-5 bg-white rounded-lg">
        {{#if user}}
            {{#with account}}
                    {{>update_account}}
                {{else}}
                    {{>update_account}}
            {{/with}}
        {{else}}
            {{>create_new_account}}
        {{/if}}
    </div>
</div>
<script src="/js/form.js"></script>