{{!-- Page to edit & update account with option to view order history --}}
<div class="row d-flex justify-content-center">
  <div class="col-sm-11 col-md-9 shadow-lg p-4 p-lg-5 my-4 my-lg-5 bg-white rounded-lg">
    <form>
      {{!-- ACCOUNT UPDATE PAGE WITH form.js Linked in script called from account.handlbars if the user is currently logged in --}}
      <h4 class="text-center text-underline">Edit Account</h4>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="create-username">Username</label>
          <input type="text" class="form-control" id="update-username" value="{{account.username}}">
        </div>
        <div class="form-group col-md-6">
          <label for="update-email">Edit-Email</label>
          <input type="email" class="form-control" id="update-email" value="{{account.email}}" autocomplete="email">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="update-password">New-Password</label>
          <input type="password" class="form-control" id="update-password" placeholder="New Password"
            autocomplete="new-password">
          <small id="update-pw-help" class="text-muted">Password must be over at least 6 characters</small>
        </div>
        <div class="form-group col-md-6">
          <label for="verify-update-password">Verify new password</label>
          <input type="password" class="form-control" id="verify-update-password" placeholder="Verify new password"
            autocomplete="new-password">
          <small id="verify-update-pw-help" class="text-muted">Passwords Must Match</small>
        </div>
      </div>
      <div id="account_error" class="alert alert-warning font-weight-bolder text-center invisible text-break"
        role="alert"></div>
      <div id="account_success" class="alert alert-success font-weight-bolder text-center invisible text-break"
        role="alert"></div>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <button id="update-account" type="submit" class="btn btn-primary" title="Update account"><i
              class="fas fa-users-cog"> Update Account</i></button>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" href="/account/orders" title="View Past orders"><i class="fas fa-receipt"> Past
              Orders</i></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" href="/" title="Browse categories"><i class="fas fa-store-alt"> Shop</i></a>
        </li>
      </ul>
    </form>
  </div>
</div>
<script src="/js/form.js"></script>