{{!--Same as the index page, instead of displaying categories with one example Item
displays All items in stock for one Category --}}
<!-- BROWSE CATEGORY ITEMS PAGE -->
<div class="jumbotron text-center my-0 py-3 px-0">
  <h1 class="display-4 font-weight-bold px-0">Shop Items <i class="fas fa-store-alt"></i></h1>
</div>
<div class="row my-3 mx-0" id="item-row" data-user="{{user}}">
  {{#each categoryitems}}
    {{>items}}
  {{/each}}
  <!-- If no items to display show Catch all no items to display card -->
  {{#unless categoryitems}}
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">
      <div class="card p-1 m-2 text-center shadow-lg rounded-lg">
        <div class="card-header text-secondary px-0 px-0">
          <h4> No Items to display</h4>
        </div>

        <div class="card-body p-1 text-lead">
          <p>Sorry! We couldn't find any items currently</p>
        </div>

        <div class="card-footer">
          <a class="btn btn-primary" href="/"><i class="fas fa-store-alt"> Categories View</i></a>
        </div>
      </div>
    </div>
  {{/unless}}
</div>
