<div class="jumbotron text-center my-0 py-3 px-0">
  <h1 class="display-4 font-weight-bold px-0"><span class="d-none d-md-inline"> Browse </span>Categories!</h1>
</div>
{{!-- View all category page where clicking will take you to browse all items --}}
<div class="row my-3">
  <!-- Category Cards -->
  {{#each category}}
    {{>category_cards}}
  {{/each}}
</div>