<!-- Page to display users cart/ take CC info in dummy form,
 and display placed order info and give option to return to home screen -->

<div class="row d-flex justify-content-center">

    <div class="col-md-11 col-lg-10 shadow-lg p-1 p-sm-3 p-lg-5 my-5 bg-dark rounded">
        {{>cart_view}} 
    </div>

    <div class="col-sm-10 col-md-9 col-lg-7 col-xl-6 shadow-lg pt-2 px-sm-3 px-md-4 my-3 bg-dark rounded">
        {{>payment_form}}
    </div>

</div>
{{!-- Will need a checkout page that is also called here, and a view completed order page. --}}
<script src="/js/order.js"></script>