<!-- Page to display users cart/ take CC info in dummy form,
 and display placed order info and give option to return to home screen -->

<div class="row d-flex justify-content-center">
    <div class="col-md-10 shadow-lg p-4 p-md-5 my-5 bg-dark rounded">
        {{>cart_view}}
    </div>
</div>
{{!-- Will need a checkout page that is also called here, and a view completed order page. --}}