<div class="row my-1">
      <!-- Example Card set up of how the dynamic Main view page will look -->
    <div class="card col-4">
      <img src="..." class="card-img-top img-thumbnail" alt="Category Example Item image">
      <div class="card-body">
        <h5 class="card-title">Category Heading</h5>
        <p class="card-text">Possibly the Category data here, or the example item content here. </p>
        <a href="#" class="btn btn-primary"> Link to Browse (Category Name) </a>
      </div>
    </div>

    <div class="card col-4">
      <img src="..." class="card-img-top img-thumbnail" alt="Category Example Item image">
        <div class="card-body">
          <h5 class="card-title">Category Heading</h5>
          <p class="card-text">Possibly the Category data here, or the example item content here. </p>
          <a href="#" class="btn btn-primary"> Link to Browse (Category Name) </a>
        </div>
    </div>

    <div class="card col-4">
      <img src="..." class="card-img-top img-thumbnail" alt="Category Example Item image">
      <div class="card-body">
        <h5 class="card-title">Category Heading</h5>
        <p class="card-text">Possibly the Category data here, or the example item content here. </p>
        <a href="#" class="btn btn-primary"> Link to Browse (Category Name) </a>
      </div>
    </div>

    <div class="card col-4">
      <img src="..." class="card-img-top img-thumbnail" alt="Category Example Item image">
      <div class="card-body">
        <h5 class="card-title">Category Heading</h5>
        <p class="card-text">Possibly the Category data here, or the example item content here. </p>
        <a href="#" class="btn btn-primary"> Link to Browse (Category Name) </a>
      </div>
    </div>

</div>