{{!-- Page to login  --}}
<div class="row d-flex justify-content-center">
    <div class="col-10 col-md-6 shadow-lg p-5 my-5 bg-white rounded" >
        <form>
            <div class="form-group">
                <label for="username-login">Username: </label>
                <input type="text" class="form-control" id="username-login" placeholder="Username" autocomplete="username">
                <small id="username-help" class="form-text text-muted">We'll never share your information with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="user-password">Password: </label>
                <input type="password" class="form-control " id="user-password" placeholder="Password" autocomplete="current-password">
            </div>
            <div id="login_error" class="alert alert-warning font-weight-bolder text-center invisible text-break" role="alert">
            </div>
                <button type="submit" id="login_btn" class="btn-block btn btn-primary font-weight-bold mt-3"> Log-in <i class="fas fa-sign-in-alt"> </i></button>
        </form>     
    </div>
</div>