{{!-- Page to login  --}}

<div class="row">
    <div class="col-lg-10 m-auto" >
        <form>
            <div class="form-group">
                <label for="username-login">Username: </label>
                <input type="text" class="form-control" id="username-login" placeholder="Username" autocomplete="username">
                <small id="username-help" class="form-text text-muted">We'll never share your information with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="user-password">Password: </label>
                <input type="password" class="form-control" id="user-password" placeholder="Password" autocomplete="current-password">
            </div>
                <button id="login_btn" type="submit" class="btn-block btn btn-primary font-weight-bold"><i class="fas fa-sign-in-alt"> </i> Log-in </button>
        </form>     
    </div>
</div>