{{!-- Order history displays ID/DATE/Total on this page, on /account/orders which will --}}
{{!-- display any past orders with links to /account/orders/theorderID to view order details --}}

<div class="row d-flex justify-content-center">
    {{#if orderHistory}}
        <div class="col-12 col-lg-11 shadow-lg p-1 p-sm-3 p-lg-5 my-5 bg-dark rounded">
            {{> view_order_history}}
        </div>
         {{else}}
        <div class="col-md-11 col-lg-10 shadow-lg p-1 p-sm-3 p-lg-5 my-5 bg-dark rounded">
            {{> order_details}}
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="btn btn-primary" href="/account" title="Update your account"><i class="fas fa-receipt"> Account</i></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="/account/orders" title="View Past orders"><i class="fas fa-receipt"> Past Orders</i></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="/" title="Browse categories"><i class="fas fa-store-alt"> Shop</i></a>
                </li>
            </ul>
        </div>
    {{/if}}
</div>