<div class="row d-flex justify-content-center">
    <div class="col-md-11 col-lg-10 shadow-lg p-1 p-sm-3 p-lg-5 my-5 bg-dark rounded">
        {{>order_view}}
    </div>
</div>
<script src="/js/order.js"></script>